{% include head.html %}

<div class="wrapper">

    <div class="header">
        LOGO
    </div>

    <div class="nav">
        <ul>
            <li>NAV 1</li>
            <li>NAV 2</li>
            <li>NAV 3</li>
        </ul>
    </div>

    <div class="content">
        <div class="card-title"></div>
        <div class="card-content">
            <div class="card-intro">{{ site.name }}</div>
            <div class="card-social">
                <ul>{% include social.html %}</ul>
            </div>
            <div class="card-text">
                <strong>{{ site.description }}</strong>
                <p>{{ site.home_intro }}</p>
                <div class="card-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/d6EXQTSlu_0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    <strong>{{ site.video_header }}</strong>
                    <p>{{ site.video_description }}</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% include footer.html %}